<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link href="style.css">
  <title>Projects Manager</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="logo.png" height="72px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link text-white" href="#projetos">Projetos</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#activities">Atividades</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#cadastro_projeto">Cadastrar projeto</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#cadastro_atividade">Cadastrar atividade</a></li>
        </ul>
      </div>
    </div>
  </nav>

{{{body}}}



  <footer class="text-center text-lg-start text-white mt-4 bg-dark">
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-center">Conteudo do Footer</h5>
            <p>Site criado para permitir a gestão de projetos e atividades.</p>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center">
            <h5 class="text-uppercase">Github</h5>
            <ul class="list-unstyled mb-0">
              <li><a href="https://github.com/joaoboemer" target="_blank" class="text-white"><img src="github_logo.png" height="72px"></a></li>
            </ul>
          </div>
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center">
            <h5 class="text-uppercase">Youtube</h5>
            <ul class="list-unstyled mb-4">
              <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank" class="text-white"><img src="youtube_logo.png" height="72px"></a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </footer>
</body>

</html>